@page
@model Todo.Pages_TodoItems.CreateModel

@{
  ViewData["Title"] = "Nova tarefa";
}

<h1 class="h4">Nova tarefa</h1>

<hr />
<div class="row">
  <div class="col-md-4">
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="form-group">
        <label asp-for="TodoItem.Title" class="control-label"></label>
        <input asp-for="TodoItem.Title" class="form-control" />
        <span asp-validation-for="TodoItem.Title" class="text-danger"></span>
      </div>
      <br>
      @*
      <div class="form-group form-check">
      <label class="form-check-label">
      <input class="form-check-input" asp-for="TodoItem.Done" /> @Html.DisplayNameFor(model => model.TodoItem.Done)
      </label>
      </div>
      <br>
      *@
      <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
        <a asp-page="Index" class="btn float-end align-bottom">Lista de tarefas</a>
      </div>
    </form>
  </div>
</div>

<br>
